.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1183px}
.u-section-1 .u-text-1 {font-size: 1.5rem; margin: 20px auto 0 0}
.u-section-1 .u-layout-wrap-1 {margin: 21px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 339px}
.u-section-1 .u-container-layout-1 {padding: 10px}
.u-section-1 .u-icon-1 {height: 84px; width: 84px; background-image: none; margin: 26px auto 0 3px}
.u-section-1 .u-icon-2 {height: 84px; width: 84px; background-image: none; margin: -79px auto 0 5px}
.u-section-1 .u-text-2 {font-size: 1.25rem; letter-spacing: 2px; margin: -71px 3px 0 100px}
.u-section-1 .u-text-3 {font-size: 1.125rem; margin: 77px -3px 0 3px}
.u-section-1 .u-layout-cell-2 {min-height: 339px}
.u-section-1 .u-container-layout-2 {padding: 10px}
.u-section-1 .u-icon-3 {height: 84px; width: 84px; background-image: none; margin: 26px auto 0 3px}
.u-section-1 .u-text-4 {font-size: 1.25rem; letter-spacing: 2px; margin: -79px -2px 0 87px}
.u-section-1 .u-text-5 {font-size: 1.125rem; margin: 90px 0 0}
.u-section-1 .u-layout-cell-3 {min-height: 339px}
.u-section-1 .u-container-layout-3 {padding: 10px}
.u-section-1 .u-icon-4 {height: 84px; width: 84px; background-image: none; margin: 27px auto 0 3px}
.u-section-1 .u-text-6 {font-size: 1.25rem; letter-spacing: 2px; margin: -79px 1px 0 106px}
.u-section-1 .u-text-7 {font-size: 1.125rem; margin: 89px 3px 0}
.u-section-1 .u-layout-cell-4 {min-height: 339px}
.u-section-1 .u-container-layout-4 {padding: 10px}
.u-section-1 .u-icon-5 {height: 84px; width: 84px; background-image: none; margin: 27px auto 0 3px}
.u-section-1 .u-text-8 {font-size: 1.25rem; letter-spacing: 2px; margin: -79px -13px 0 103px}
.u-section-1 .u-text-9 {font-size: 1.125rem; margin: 65px 0 0}
.u-section-1 .u-text-10 {font-size: 1.5rem; margin: 22px 304px 0 380px}
.u-section-1 .u-slider-1 {min-height: 232px; box-shadow: 5px 5px 20px 16px rgba(0,0,0,0.4); margin: 20px auto 0 0}
.u-section-1 .u-carousel-indicators-1 {position: absolute; bottom: 10px}
.u-section-1 .u-container-layout-5 {padding: 30px 50px}
.u-section-1 .u-icon-6 {height: 64px; width: 64px; background-image: none; margin: 17px auto 0 32px}
.u-section-1 .u-icon-7 {height: 64px; width: 64px; background-image: none; margin: -70px 420px 0 auto}
.u-section-1 .u-icon-8 {height: 64px; width: 64px; background-image: none; margin: -64px 89px 0 auto}
.u-section-1 .u-icon-9 {height: 64px; width: 64px; background-image: none; margin: -64px auto 0 286px}
.u-section-1 .u-text-11 {margin: 28px 371px 0 507px}
.u-section-1 .u-text-12 {margin: -48px 66px 0 auto}
.u-section-1 .u-text-13 {margin: -32px auto 0 278px}
.u-section-1 .u-text-14 {margin: -32px 920px 0 32px}
.u-section-1 .u-container-layout-6 {padding: 30px 50px}
.u-section-1 .u-icon-10 {height: 64px; width: 64px; background-image: none; margin: 0 20px}
.u-section-1 .u-icon-11 {height: 64px; width: 64px; background-image: none; margin: -64px auto 0 311px}
.u-section-1 .u-icon-12 {height: 64px; width: 64px; background-image: none; margin: -64px 374px 0 auto}
.u-section-1 .u-icon-13 {height: 64px; width: 64px; background-image: none; margin: -64px 83px 0 auto}
.u-section-1 .u-text-15 {margin: 23px 932px 0 20px}
.u-section-1 .u-text-16 {margin: -32px auto 0 294px}
.u-section-1 .u-text-17 {margin: -32px 348px 0 auto}
.u-section-1 .u-text-18 {margin: -32px 55px 0 auto}
.u-section-1 .u-carousel-control-1 {width: 50px; height: 50px; background-image: linear-gradient(#1a1a1a, #404040)}
.u-section-1 .u-carousel-control-2 {width: 50px; height: 50px; background-image: linear-gradient(#1a1a1a, #404040)}
.u-section-1 .u-text-19 {font-size: 1.5rem; margin: 21px 0 0 803px}
.u-section-1 .u-layout-wrap-2 {margin: 21px auto 60px 0}
.u-section-1 .u-layout-cell-5 {min-height: 283px}
.u-section-1 .u-container-layout-7 {padding: 30px 30px 30px 25px}
.u-section-1 .u-text-20 {font-size: 1.25rem; margin: 0 92px 0 57px}
.u-section-1 .u-text-21 {font-size: 1.125rem; margin: 21px auto 0 5px}
.u-section-1 .u-layout-cell-6 {min-height: 283px}
.u-section-1 .u-container-layout-8 {padding: 30px}
.u-section-1 .u-text-22 {font-size: 1.25rem; margin: 1px 27px 0}
.u-section-1 .u-text-23 {font-size: 1.125rem; margin: 20px -2px 0}
.u-section-1 .u-layout-cell-7 {min-height: 283px; background-image: none}
.u-section-1 .u-container-layout-9 {padding: 30px}
.u-section-1 .u-text-24 {font-size: 1.25rem; margin: 0 auto 0 27px}
.u-section-1 .u-text-25 {font-size: 1.125rem; margin: 22px 5px 0 auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 1399px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 280px}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 53px}
.u-section-1 .u-layout-cell-2 {min-height: 280px}
.u-section-1 .u-text-4 {margin-left: 62px}
.u-section-1 .u-layout-cell-3 {min-height: 280px}
.u-section-1 .u-text-6 {margin-right: 0; margin-left: 57px}
.u-section-1 .u-layout-cell-4 {min-height: 280px}
.u-section-1 .u-text-8 {margin-left: 78px}
.u-section-1 .u-text-10 {width: auto; margin-top: 45px; margin-right: 288px; margin-left: 345px}
.u-section-1 .u-slider-1 {height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-icon-6 {margin-top: 11px}
.u-section-1 .u-icon-7 {margin-top: -64px; margin-right: 310px}
.u-section-1 .u-icon-9 {margin-left: 253px}
.u-section-1 .u-text-11 {width: auto; margin-top: 12px; margin-right: 263px; margin-left: 414px}
.u-section-1 .u-text-12 {margin-top: -32px}
.u-section-1 .u-text-14 {width: auto; margin-right: 732px; margin-left: 20px}
.u-section-1 .u-icon-11 {margin-left: 241px}
.u-section-1 .u-icon-12 {margin-right: 304px}
.u-section-1 .u-text-15 {margin-right: 752px; margin-left: 0}
.u-section-1 .u-text-16 {width: auto; margin-left: 215px}
.u-section-1 .u-text-17 {width: auto; margin-right: 276px}
.u-section-1 .u-text-19 {width: auto; margin-left: 566px}
.u-section-1 .u-layout-wrap-2 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-5 {min-height: 233px}
.u-section-1 .u-text-20 {width: auto; margin-right: 125px; margin-left: 24px}
.u-section-1 .u-layout-cell-6 {min-height: 233px}
.u-section-1 .u-text-22 {width: auto; margin-right: 76px; margin-left: 12px}
.u-section-1 .u-layout-cell-7 {min-height: 233px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 611px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-text-10 {margin-right: 178px; margin-left: 235px}
.u-section-1 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-icon-7 {margin-top: -62px; margin-right: 249px}
.u-section-1 .u-icon-8 {margin-top: -66px}
.u-section-1 .u-icon-9 {margin-left: 186px}
.u-section-1 .u-text-11 {margin-right: 195px; margin-left: 302px}
.u-section-1 .u-text-12 {width: auto; margin-right: 47px}
.u-section-1 .u-text-13 {width: auto; margin-left: 182px}
.u-section-1 .u-text-14 {margin-right: 572px; margin-left: 0}
.u-section-1 .u-container-layout-6 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-icon-11 {margin-left: 175px}
.u-section-1 .u-icon-12 {margin-right: 256px}
.u-section-1 .u-text-15 {margin-right: 572px}
.u-section-1 .u-text-16 {margin-left: 169px}
.u-section-1 .u-text-17 {margin-right: 216px}
.u-section-1 .u-text-19 {margin-left: 346px}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-text-20 {margin-right: 15px; margin-left: 0}
.u-section-1 .u-layout-cell-6 {min-height: 100px}
.u-section-1 .u-text-22 {margin-left: 0; margin-right: 0}
.u-section-1 .u-text-23 {margin-right: 29px; margin-left: 15px}
.u-section-1 .u-layout-cell-7 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 2283px}
.u-section-1 .u-text-10 {margin-right: 88px; margin-left: 145px}
.u-section-1 .u-slider-1 {margin-top: 22px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-icon-7 {margin-top: -63px; margin-right: 177px}
.u-section-1 .u-icon-8 {margin-top: -65px; margin-right: 32px}
.u-section-1 .u-icon-9 {margin-top: -63px; margin-left: 142px}
.u-section-1 .u-text-11 {margin-top: 11px; margin-right: 125px; margin-left: 232px}
.u-section-1 .u-text-12 {margin-top: -34px; margin-right: 14px}
.u-section-1 .u-text-13 {margin-top: -30px; margin-left: 143px}
.u-section-1 .u-text-14 {margin-top: -34px; margin-right: 412px; margin-left: 20px}
.u-section-1 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-icon-11 {margin-left: 146px}
.u-section-1 .u-icon-12 {margin-top: -62px; margin-right: 157px}
.u-section-1 .u-icon-13 {margin-top: -66px; margin-right: 32px}
.u-section-1 .u-text-15 {width: auto; margin-top: 22px; margin-right: 419px; margin-left: 13px}
.u-section-1 .u-text-16 {margin-top: -31px; margin-left: 133px}
.u-section-1 .u-text-17 {margin-right: 129px}
.u-section-1 .u-text-18 {width: auto; margin-right: 1px}
.u-section-1 .u-text-19 {margin-top: 20px; margin-left: 166px}
.u-section-1 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-21 {margin-left: 15px}
.u-section-1 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-24 {margin-left: 82px}
.u-section-1 .u-text-25 {margin-left: 18px; margin-right: 18px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 811px}
.u-section-1 .u-text-10 {margin-right: 0; margin-left: 33px}
.u-section-1 .u-icon-6 {margin-top: 9px; margin-left: 0}
.u-section-1 .u-icon-7 {margin-top: -61px; margin-right: auto; margin-left: 88px}
.u-section-1 .u-icon-8 {margin-top: -64px; margin-right: 8px}
.u-section-1 .u-icon-9 {margin-top: -64px; margin-right: 87px; margin-left: auto}
.u-section-1 .u-text-11 {margin-top: 32px; margin-right: 109px; margin-left: 36px}
.u-section-1 .u-text-12 {margin-top: -47px; margin-right: -10px}
.u-section-1 .u-text-13 {margin-top: -71px; margin-right: 83px; margin-left: auto}
.u-section-1 .u-text-14 {margin-top: -31px; margin-right: 242px; margin-left: -10px}
.u-section-1 .u-icon-11 {margin-top: -61px; margin-right: 79px; margin-left: auto}
.u-section-1 .u-icon-12 {margin-top: -65px; margin-right: auto; margin-left: 99px}
.u-section-1 .u-icon-13 {margin-top: -64px; margin-right: -1px}
.u-section-1 .u-text-15 {margin-top: 17px; margin-right: 232px; margin-left: 0}
.u-section-1 .u-text-16 {margin-top: -34px; margin-right: 53px; margin-left: auto}
.u-section-1 .u-text-17 {margin-top: 9px; margin-right: auto; margin-left: 71px}
.u-section-1 .u-text-18 {margin-top: -30px; margin-right: -9px}
.u-section-1 .u-text-19 {margin-left: 0}
.u-section-1 .u-text-20 {margin-right: 0} }