.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 455px}
.u-section-1 .u-text-1 {margin: 35px auto 0}
.u-section-1 .u-gallery-1 {height: 350px; grid-gap: 17px 17px; margin: 46px 0 0 auto}
.u-section-1 .u-gallery-inner-1 {grid-template-columns: auto auto auto; grid-gap: 100px 100px}
.u-section-1 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)); padding: 21px}
.u-section-1 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)); padding: 21px}
.u-section-1 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)); padding: 21px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 314px}
.u-section-1 .u-gallery-1 {height: 289px; margin-right: initial; margin-left: initial}
.u-section-1 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto)}
.u-section-1 .u-over-slide-1 {min-height: 100px}
.u-section-1 .u-over-slide-2 {min-height: 100px}
.u-section-1 .u-over-slide-3 {min-height: 100px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 784px}
.u-section-1 .u-gallery-1 {height: 728px; margin-right: initial; margin-left: initial}
.u-section-1 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1820px}
.u-section-1 .u-gallery-1 {height: 1813px; margin-right: initial; margin-left: initial}
.u-section-1 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1394px}
.u-section-1 .u-gallery-1 {height: 1339px; margin-right: initial; margin-left: initial} }.u-section-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 523px}
.u-section-2 .u-text-1 {width: 255px; margin: 21px auto 0}
.u-section-2 .u-gallery-1 {height: 350px; grid-gap: 17px 17px; width: 722px; margin: 34px 0 60px auto}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: auto auto; grid-gap: 100px 100px}
.u-section-2 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); padding: 20px}
.u-section-2 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); padding: 20px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 484px}
.u-section-2 .u-text-1 {margin-bottom: 60px}
.u-section-2 .u-gallery-1 {margin-bottom: 21px}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 443px}
.u-section-2 .u-text-1 {margin-bottom: 0}
.u-section-2 .u-gallery-1 {height: 288px; margin-top: 60px; margin-bottom: 35px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: auto auto} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 806px}
.u-section-2 .u-gallery-1 {height: 1166px; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 986px}
.u-section-2 .u-gallery-1 {height: 814px; margin-bottom: 60px; width: auto; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)); background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 484px}
.u-section-3 .u-text-1 {margin: 26px auto 0}
.u-section-3 .u-gallery-1 {height: 357px; grid-gap: 17px 17px; width: 733px; margin: 26px auto 36px 0}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: auto auto; grid-gap: 100px 100px}
.u-section-3 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); padding: 20px}
.u-section-3 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); padding: 20px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 399px}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 306px}
.u-section-3 .u-gallery-1 {height: 1403px; width: 720px}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 230px}
.u-section-3 .u-gallery-1 {height: 1052px; width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 145px}
.u-section-3 .u-gallery-1 {height: 662px; width: 340px} }.u-section-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)); background-position: 50% 50%}
.u-section-4 .u-sheet-1 {min-height: 527px}
.u-section-4 .u-text-1 {font-size: 1.875rem; margin: 35px auto 0 379px}
.u-section-4 .u-text-2 {font-size: 1rem; margin: 10px 59px 0 44px}
.u-section-4 .u-gallery-1 {height: 364px; grid-gap: 17px 17px; margin: 25px -60px 35px auto}
.u-section-4 .u-gallery-inner-1 {grid-template-columns: auto auto auto; grid-gap: 100px 100px}
.u-section-4 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); padding: 20px}
.u-section-4 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); padding: 20px}
.u-section-4 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)); padding: 20px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-text-1 {margin-left: 313px}
.u-section-4 .u-text-2 {margin-right: 0; margin-left: 324px}
.u-section-4 .u-gallery-1 {height: 285px; margin-right: initial; margin-left: initial}
.u-section-4 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto)} }

@media (max-width: 991px){ .u-section-4 .u-text-1 {margin-left: auto}
.u-section-4 .u-text-2 {margin-left: 35px; margin-right: 35px}
.u-section-4 .u-gallery-1 {height: 655px; margin-right: initial; margin-left: initial}
.u-section-4 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1712px}
.u-section-4 .u-text-2 {margin-right: 0; margin-left: 186px}
.u-section-4 .u-gallery-1 {height: 1699px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-4 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1312px}
.u-section-4 .u-text-1 {font-size: 1.5rem}
.u-section-4 .u-text-2 {margin-left: 0}
.u-section-4 .u-gallery-1 {height: 1155px; margin-right: initial; margin-left: initial} }