.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1379px}
.u-section-1 .u-list-1 {width: 1140px; min-height: 375px; grid-template-columns: calc(33.3333% - 6px) calc(33.3333% - 6px) calc(33.3333% - 6px); grid-template-rows: auto; grid-gap: 9px 9px; margin: 50px 0 0 auto}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {height: 228px; background-position: 50% 50%; width: 225px; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {margin: 20px auto 0 0}
.u-section-1 .u-line-1 {transform-origin: left center; margin: 30px auto 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {height: 228px; background-position: 50% 39.21%; width: 225px; margin: 0 auto 0 0}
.u-section-1 .u-text-3 {margin: 20px auto 0 0}
.u-section-1 .u-line-2 {transform-origin: left center; margin: 30px auto 0 0}
.u-section-1 .u-text-4 {margin: 20px 0 0}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-3 {height: 228px; background-position: 50% 6.11%; width: 225px; margin: 0 auto 0 0}
.u-section-1 .u-text-5 {margin: 20px auto 0 0}
.u-section-1 .u-line-3 {transform-origin: left center; margin: 30px auto 0 0}
.u-section-1 .u-text-6 {margin: 20px 0 0}
.u-section-1 .u-list-2 {min-height: 683px; grid-template-columns: calc(((100% - 1140px) / 2)  + 565px) calc(((100% - 1140px) / 2)  + 565px); grid-template-rows: auto; grid-gap: 9px 9px; width: 760px; height: auto; margin: 14px auto 0 0}
.u-section-1 .u-list-item-4 {background-image: none}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-image-4 {background-position: 50% 50%; width: 230px; height: 233px; margin: 0 auto 0 0}
.u-section-1 .u-text-7 {margin: 51px auto 0 0}
.u-section-1 .u-line-4 {transform-origin: left center; margin: 30px auto 0 0}
.u-section-1 .u-text-8 {margin: 20px auto 0 0}
.u-section-1 .u-list-item-5 {background-image: none}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-image-5 {background-position: 50% 50%; width: 230px; height: 233px; margin: 0 auto 0 0}
.u-section-1 .u-text-9 {margin: 51px auto 0 0}
.u-section-1 .u-line-5 {transform-origin: left center; margin: 30px auto 0 0}
.u-section-1 .u-text-10 {margin: 20px auto 0 0}
.u-section-1 .u-group-1 {width: 372px; min-height: 683px; height: auto; margin: -683px 0 31px auto}
.u-section-1 .u-container-layout-6 {padding: 30px}
.u-section-1 .u-text-11 {font-size: 1.875rem; margin: 0}
.u-section-1 .u-text-12 {font-size: 1rem; margin: 4px auto 0 13px}
.u-section-1 .u-image-6 {width: 63px; height: 63px; background-position: 50% 50%; margin: 83px auto 0 10px}
.u-section-1 .u-text-13 {margin: -63px 9px 0 102px}
.u-section-1 .u-text-14 {margin: 73px 44px 0 102px}
.u-section-1 .u-image-7 {width: 63px; height: 63px; background-position: 50% 50%; margin: -50px auto 0 10px}
.u-section-1 .u-text-15 {margin: 59px auto 0 103px}
.u-section-1 .u-image-8 {width: 63px; height: 63px; background-position: 50% 50%; margin: -50px auto 0 10px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 1437px}
.u-section-1 .u-list-1 {width: 940px; min-height: 309px; grid-template-columns: repeat(3, calc(33.333333333333336% - 6px))}
.u-section-1 .u-image-1 {width: 228px}
.u-section-1 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {width: 228px}
.u-section-1 .u-line-2 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-3 {width: 228px}
.u-section-1 .u-line-3 {margin-right: initial; margin-left: initial}
.u-section-1 .u-list-2 {min-height: 696px; grid-template-columns: calc(((100% - 940px) / 2)  + 465px) calc(((100% - 940px) / 2)  + 465px); width: 623px}
.u-section-1 .u-image-4 {width: 233px}
.u-section-1 .u-line-4 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-5 {width: 233px}
.u-section-1 .u-line-5 {margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {width: 307px; min-height: 702px; margin-top: -699px; margin-bottom: 23px}
.u-section-1 .u-text-13 {width: 404px; margin-left: 37px}
.u-section-1 .u-text-14 {margin-left: 37px}
.u-section-1 .u-text-15 {margin-left: 38px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 2151px}
.u-section-1 .u-list-1 {min-height: 1327px; grid-template-columns: 50% 50%; height: auto; margin-top: 43px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-list-2 {min-height: 729px; grid-template-columns: calc(((100% - 720px) / 2)  + 355px) calc(((100% - 720px) / 2)  + 355px); margin-top: 26px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-list-item-4 {height: 717px}
.u-section-1 .u-image-4 {width: 228px; height: 228px}
.u-section-1 .u-text-7 {width: auto; margin-top: 19px}
.u-section-1 .u-line-4 {transform-origin: left center 0; margin-top: 31px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-8 {margin-top: 18px; margin-right: 0}
.u-section-1 .u-list-item-5 {height: 717px}
.u-section-1 .u-image-5 {width: 228px; height: 228px}
.u-section-1 .u-text-9 {width: auto; margin-top: 19px}
.u-section-1 .u-line-5 {transform-origin: left center 0; margin-top: 31px; margin-right: initial; margin-left: initial}
.u-section-1 .u-text-10 {margin-top: 18px; margin-right: 0}
.u-section-1 .u-group-1 {width: 348px; min-height: 599px; margin-top: -1348px; margin-bottom: 31px}
.u-section-1 .u-container-layout-6 {padding-bottom: 2px}
.u-section-1 .u-text-13 {margin-left: 89px}
.u-section-1 .u-text-14 {margin-left: 90px}
.u-section-1 .u-text-15 {width: auto; margin-top: 52px; margin-left: auto}
.u-section-1 .u-image-8 {margin-top: -68px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 3627px}
.u-section-1 .u-list-1 {grid-template-columns: 100%; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-list-2 {min-height: 1443px; grid-template-columns: 100%; margin-top: 9px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-1 {min-height: 567px; margin-top: 8px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-13 {margin-left: 102px}
.u-section-1 .u-text-15 {margin-left: 118px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 2826px}
.u-section-1 .u-group-1 {min-height: 539px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-6 {padding-top: 12px; padding-bottom: 0}
.u-section-1 .u-text-11 {font-size: 1.5rem; margin-left: 5px; margin-right: 5px}
.u-section-1 .u-text-12 {margin-top: 29px; margin-left: 18px; margin-right: 18px}
.u-section-1 .u-image-6 {margin-top: 58px}
.u-section-1 .u-text-13 {width: 320px}
.u-section-1 .u-text-14 {width: auto; margin-top: 79px; margin-right: 32px; margin-left: 102px}
.u-section-1 .u-image-7 {margin-top: -56px}
.u-section-1 .u-text-15 {margin-left: 102px} }