.u-section-1 .u-sheet-1 {min-height: 638px}
.u-section-1 .u-text-1 {margin: 60px auto 0}
.u-section-1 .u-text-2 {margin: 20px auto 0}
.u-section-1 .u-list-1 {min-height: 388px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); grid-gap: 10px; margin: 46px auto 60px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-icon-1 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-3 {margin: 20px 0 0}
.u-section-1 .u-text-4 {margin: 20px auto 0 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: 20px auto 0; padding: 0}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-2 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-5 {margin: 20px 0 0}
.u-section-1 .u-text-6 {margin: 20px auto 0 0}
.u-section-1 .u-btn-2 {background-image: none; border-style: none none solid; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: 20px auto 0; padding: 0}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-3 {height: 100px; width: 100px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-7 {margin: 20px 0 0}
.u-section-1 .u-text-8 {margin: 20px auto 0 0}
.u-section-1 .u-btn-3 {background-image: none; border-style: none none solid; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 570px}
.u-section-1 .u-list-1 {min-height: 320px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); height: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 801px}
.u-section-1 .u-list-1 {min-height: 735px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial} }